.topo_container {
  background-color: #000 !important;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Navbar */
.navbar {
  background-color: #000 !important;
}

.navbar-brand img {
  width: 80px;
  height: auto;
}

/* Dropdown */
.dropdown-menu {
  background-color: #222 !important;
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.dropdown-item {
  color: #fff !important;
}

.dropdown-item:hover {
  background-color: #444 !important;
}

/* Responsividade */
@media (max-width: 1024px) {
  .navbar-nav {
    text-align: center;
  }

  .dropdown-menu {
    position: static;
    width: 100%;
  }
}
